<a href="{{ url }}">
    <fieldset class="leftlinker" id="le">
        <legend>
            <div class="thumbnail">
                {{ content.field_image.0 }}
            </div>
        </legend>
        <div class="contentlink">
            <h3 style="text-align:center">{{ label }}</h3>
        </div>
    </fieldset>
</a>