<a href="{{ url }}" class="alink">
  <fieldset class="fie2" style="">
      <div class="indexlinker2">
          <div class="thumbnail">
              {{ content.field_image.0 }}
          </div>
          <div class="contentlink">
              <h3>{{ label }}</h3>
              {{ content.body.0 }}
          </div>
      </div>
  </fieldset>
</a>