<a href="{{ url }}" class="alink">
<fieldset>
    <div class="indexlinker">
        <div class="thumbnail">
            {{ content.field_image.0 }}
        </div>
        <div class="contentlink">
            <h3>{{ label }} </h3>
            {{ content.body.0 }}
        </div>
    </div>
</fieldset>
</a>

<br>
<br>
<br>